# Compulsory 3 - Erlend Risvik

## Imports and loading data

In [31]:
import pandas as pd
from pyspark.sql import SparkSession
import os

os.environ["PYSPARK_PYTHON"] = "python"

spark = SparkSession.builder.appName('SparkCassandraApp').\
    config('spark.jars.packages', 'com.datastax.spark:spark-cassandra-connector_2.12:3.4.1').\
    config('spark.cassandra.connection.host', 'localhost').\
    config('spark.sql.extensions', 'com.datastax.spark.connector.CassandraSparkExtensions').\
    config('spark.sql.catalog.mycatalog', 'com.datastax.spark.connector.datasource.CassandraCatalog').\
    config('spark.cassandra.connection.port', '9042').getOrCreate()

(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table="fish_data_full", keyspace="compulsory")
 .load()
 .createOrReplaceTempView("fish_data_full"))

fish_data = spark.sql("SELECT * FROM fish_data_full").toPandas()

(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table="lice_data_full", keyspace="compulsory")
 .load()
 .createOrReplaceTempView("lice_data_full"))

lice_data = spark.sql("SELECT * FROM lice_data_full").toPandas()

In [9]:
fish_data.head()

,localityweekid,avgadultfemalelice,hascleanerfishdeployed,hasila,hasmechanicalremoval,haspd,hasreportedlice,hassalmonoids,hassubstancetreatments,infilteredselection,...,isonland,isslaughterholdingcage,lat,localityno,lon,municipality,municipalityno,name,week,year
0,190827,NaN,False,False,False,False,False,True,False,True,...,False,False,69.881302,10753,19.434532,Karlsøy,1936,Strandmo,43,2015
1,140632,NaN,False,False,False,False,False,True,False,True,...,False,False,66.298866,13522,12.813833,Nesna,1828,Valvika,17,2015
2,913528,NaN,False,False,False,False,False,False,False,True,...,False,False,70.242447,34077,19.500000,Karlsøy,1936,Torsvåg II,25,2015
3,189850,NaN,False,False,False,False,False,True,False,True,...,False,False,68.868980,11414,15.301050,Øksnes,1868,Toften,19,2015
4,201349,0.4,False,False,False,False,True,True,False,True,...,False,False,60.885334,13567,5.461600,Masfjorden,1266,"Knappen,Solheim",2,2015

In [10]:
lice_data.head()

,id,avgadultfemalelice,avgmobilelice,avgstationarylice,hasbathtreatment,hascleanerfishdeployed,hasinfeedtreatment,hasmechanicalremoval,hasreportedlice,hassalmonoids,isfallow,isslaughterholdingcage,localityno,seatemperature,week,year
0,187305,0.10,0.10,0.50,True,True,False,False,True,True,False,False,24175,9.2,42,2015
1,187281,0.00,0.02,0.13,False,False,False,False,True,True,False,False,24175,4.0,18,2015
2,187315,0.04,0.15,0.21,False,True,False,False,True,True,False,False,24175,5.2,52,2015
3,187271,0.00,0.00,0.00,False,False,False,False,True,True,False,False,24175,3.3,8,2015
4,187272,NaN,NaN,NaN,False,False,False,False,False,True,False,False,24175,3.3,9,2015

## Pivoting

In [42]:
# We start by creating  a variable called a variable region, splitting Norway into three regions:
# South - below 63.81 latitude, Middle - up to 68.85 latitude, North - above 68.85 latitude

fish_data['region'] = fish_data['lat'].apply(lambda x: 'South' if x < 63.81 else ('Middle' if x < 68.85 else 'North'))
fish_data[["lat", "region"]].head(10)

         lat  region
0  59.932133   South
1  70.385979   North
2  68.666382  Middle
3  65.708214  Middle
4  59.785851   South
5  66.118500  Middle
6  69.195900   North
7  66.113113  Middle
8  59.803150   South
9  60.234982   South

In [34]:
# Next, we pivot using week as category and avgAdultFemaleLice as value
lice_data.groupby("week", dropna = False).agg({"avgadultfemalelice": "mean"}).reset_index().head(52)

    week  avgadultfemalelice
0      1                 NaN
1      2                0.00
2      3                0.00
3      4                0.00
4      5                 NaN
5      6                0.00
6      7                 NaN
7      8                0.00
8      9                 NaN
9     10                0.00
10    11                 NaN
11    12                0.00
12    13                 NaN
13    14                0.03
14    15                 NaN
15    16                0.00
16    17                 NaN
17    18                0.00
18    19                0.01
19    20                0.00
20    21                0.00
21    22                0.02
22    23                0.05
23    24                0.01
24    25                0.01
25    26                0.00
26    27                0.01
27    28                0.00
28    29                0.00
29    30                0.00
30    31                0.01
31    32                0.02
32    33                0.01
33    34                0.00
34    35                0.03
35    36                0.04
36    37                0.06
37    38                0.06
38    39                0.06
39    40                0.05
40    41                0.28
41    42                0.10
42    43                0.02
43    44                0.02
44    45                0.00
45    46                0.02
46    47                0.00
47    48                0.04
48    49                0.03
49    50                0.03
50    51                0.01
51    52                0.04

In [51]:
# Next, we create a pivot table for categories hasPd and hasIla with values lat

fish_data.pivot_table(index = "haspd", columns = "hasila", values = "lat", aggfunc = "mean")

hasila      False      True
haspd
False   63.946201  67.401024
True    61.677021  63.141956

In [49]:
# Finally, we create a pivot table for week and region with values avgAdultFemaleLice

fish_data.pivot_table(columns = "region", index = "week", values = "avgadultfemalelice", aggfunc = "mean")

region    Middle     North     South
week
1       0.157852  0.098125  0.257882
2       0.155034  0.140270  0.280702
3       0.172624  0.055584  0.284847
4       0.169366  0.053143  0.258397
5       0.169348  0.056842  0.281707
6       0.157710  0.054528  0.231207
7       0.168240  0.050800  0.192832
8       0.141694  0.063167  0.209759
9       0.134375  0.066780  0.201831
10      0.128770  0.093725  0.195458
11      0.121667  0.069138  0.194079
12      0.127368  0.034375  0.167782
13      0.131382  0.050000  0.153737
14      0.119904  0.039286  0.093600
15      0.121579  0.057222  0.101736
16      0.102069  0.059545  0.096416
17      0.092927  0.028727  0.109186
18      0.074809  0.044655  0.113949
19      0.059624  0.026066  0.133567
20      0.068489  0.027826  0.139699
21      0.068897  0.020448  0.146928
22      0.072222  0.016389  0.135389
23      0.059429  0.015125  0.158820
24      0.066154  0.012738  0.161479
25      0.079021  0.013038  0.163135
26      0.065972  0.018072  0.137279
27      0.068652  0.013412  0.148638
28      0.090423  0.022472  0.171104
29      0.105407  0.021818  0.178136
30      0.132662  0.038523  0.200726
31      0.157857  0.030444  0.188684
32      0.209343  0.027609  0.208469
33      0.224030  0.042198  0.238444
34      0.239275  0.073846  0.196977
35      0.331135  0.069390  0.163101
36      0.276972  0.065412  0.130126
37      0.335878  0.098889  0.142226
38      0.267419  0.137176  0.153545
39      0.313901  0.091548  0.192613
40      0.290929  0.148333  0.175045
41      0.341259  0.136173  0.231321
42      0.344041  0.118837  0.217917
43      0.384245  0.125000  0.231486
44      0.264214  0.141412  0.286951
45      0.230290  0.127143  0.251877
46      0.246429  0.064659  0.226476
47      0.251329  0.066222  0.223259
48      0.233497  0.074222  0.203437
49      0.195789  0.066222  0.221090
50      0.183037  0.080682  0.203750
51      0.210373  0.067381  0.215101
52      0.250160  0.061098  0.207449