# Utilities notebook

## Setting up functions

In [1]:
import os
from pyspark.sql import SparkSession
import requests
import pandas as pd
import numpy as np
from cassandra.cluster import Cluster


# Set pyspark env
os.environ["PYSPARK_PYTHON"] = "python"

spark = SparkSession.builder.appName('SparkCassandraApp').\
    config('spark.jars.packages', 'com.datastax.spark:spark-cassandra-connector_2.12:3.4.1').\
    config('spark.cassandra.connection.host', 'localhost').\
    config('spark.sql.extensions', 'com.datastax.spark.connector.CassandraSparkExtensions').\
    config('spark.sql.catalog.mycatalog', 'com.datastax.spark.connector.datasource.CassandraCatalog').\
    config('spark.cassandra.connection.port', '9042').getOrCreate()


cluster = Cluster(['localhost'], port=9042)
session = cluster.connect()
session.set_keyspace('compulsory')

In [59]:
# Set up request
def get_access_token():
    """Function to get access token from Barentswatch API

    Returns:
        str: Access token
    """
    url = "https://id.barentswatch.no/connect/token"
    # Read secret key from file
    secret_key = open(r'..\..\..\IND320\No_sync\fish_api', 'r').read()

    # Set up request to get access token
    headers = {
        "Content-Type": "application/x-www-form-urlencoded"
    }
    data = {
        "client_id": "erlend.risvik@gmail.com:fishclient",
        "scope": "api",
        "client_secret": secret_key,
        "grant_type": "client_credentials"
    }

    response = requests.post(url, headers=headers, data=data)
    return response.json()['access_token']

def convert_to_spark(df):
    """Function to convert pandas dataframe to spark dataframe

    Parameters:
    -----------
    df : pandas dataframe
        Dataframe to convert

    Returns:
    --------
    spark dataframe
    """
    return spark.createDataFrame(df)

def write_to_cassandra(df, table_name):
    """Function to write data to cassandra database

    Parameters:
    -----------
    df : pandas dataframe
        Dataframe to write
    table_name : str
        Name of table to write to
    """
    
    df_spark = convert_to_spark(df)
    (df_spark.write
     .format("org.apache.spark.sql.cassandra")
     .options(table=table_name, keyspace="compulsory")
     .mode("append")
     .save())

def check_exist_fish(year):
    """Function to check if data exists in database.'
    Parameters:
    -----------
    year : int
        Year of data

    Returns:
    --------
    bool: True if data exists, False if not
    """

    (spark.read.format("org.apache.spark.sql.cassandra")
    .options(table = 'fish_data_full', keyspace="compulsory")
    .load()
    .createOrReplaceTempView('fish_data_full'))
    
    check = spark.sql(f"SELECT count(*) FROM fish_data_full WHERE year = {year}")   
    return check.collect()[0][0] >= 1 

def check_exist_lice(locality, year):
    """Function to check if data exists in database.'
    Parameters:
    -----------
    locality : int
        Locality number
    year : int
        Year of data

    Returns:
    --------
    bool: True if data exists, False if not
    """

    (spark.read.format("org.apache.spark.sql.cassandra")
    .options(table = 'lice_data_full', keyspace="compulsory")
    .load()
    .createOrReplaceTempView('lice_data_full'))
    
    check = spark.sql(f"SELECT count(*) FROM lice_data_full WHERE year = {year} AND localityno = {locality}")   
    return check.collect()[0][0] >= 1 

def get_one_week_fish_data(year, week, access_token):
    """Function to get fish data from Barentswatch API.
    
    Parameters:
    -----------
    year : int
        Year of data
    week : int
        Week of data
    access_token : str
        Access token from Barentswatch API
    Returns:
    --------
    json: json object with data
    """

    # Set url to correct API address
    url = f"https://www.barentswatch.no/bwapi/v1/geodata/fishhealth/locality/{year}/{week}"

    headers = {
        "Authorization": "Bearer "+ access_token}

    df = requests.get(url, headers = headers).json()
    return df

def get_one_year_fish_data(year, access_token):
    """Function to get all fish data from Barentswatch API limited to one year.

    Parameters:
    -----------
    access_token : str
        Access token from Barentswatch API
    Returns:
    --------
    df: pandas dataframe with data
    """
    if check_exist_fish(year):
        return None

    # Set list of weeks (1-52).
    weeks = np.arange(1, 53)
    df = pd.DataFrame()
    for week in weeks:
        data = get_one_week_fish_data(year = year, week = week, access_token = access_token)["localities"]
        data = pd.DataFrame(data)
        data["year"] = year
        data["week"] = week
        df = pd.concat([df, data], ignore_index=True)

    df.columns = df.columns.str.lower()
    try:
        write_to_cassandra(df = df, table_name = "fish_data_full")
    except:
        return None

def get_one_week_lice_data(localty, year, week, access_token):
    """Function to get lice count data from Barentswatch API.

    Parameters:
    -----------
    localty : int
        Localty number
    year : int
        Year of data
    week : int
        Week of data
    access_token : str
        Access token from Barentswatch API

    Returns:
    --------
    json: json object with data 
    """

    # Set url to correct API address
    url = f'https://www.barentswatch.no/bwapi/v1/geodata/fishhealth/locality/{localty}/{year}/{week}'
    headers = {
        "Authorization": "Bearer "+ access_token}
    
    df = requests.get(url, headers=headers).json()
    return df

def get_one_year_lice_data(locality, year, access_token):
    """
    Function to get all lice count data from Barentswatch API limited to one year.

    Parameters:
    -----------
    localty : int
        Localty number
    year : int
        Year of data
    access_token : str
        Access token from Barentswatch API
    Returns:
    --------
    df: pandas dataframe with data
    """

    if check_exist_lice(locality, year):
        return None

    # Set list of weeks (1-52).
    weeks = np.arange(1, 53)
    df = pd.DataFrame()
    for week in weeks:
        data = get_one_week_lice_data(localty = locality, year = year, week = week, access_token = access_token)["localityWeek"]
        for key, value in data.items():
            # Set to list to make it compatible to convert to pandas dataframe
            data[key] = [value]
        # Dropping columns that contain purely None and nested dictionaries
        data = pd.DataFrame(data).drop(columns = ["bathTreatments", "cleanerFish", "inFeedTreatments", \
                                                  "mechanicalRemoval", "timeSinceLastChitinSynthesisInhibitorTreatment"]) 
        data["year"] = year
        data["week"] = week
        df = pd.concat([df, data], ignore_index=True)
    # Lowercase column names
    df.columns = df.columns.str.lower()
    try:
        write_to_cassandra(df = df, table_name = "lice_data_full")
    except:
        return None

def clean_table(table_name):
    """Function to clean table in cassandra database

    Parameters:
    -----------
    table_name : str
        Name of table to clean
    """
    session.execute(f"TRUNCATE {table_name}")


access_token = get_access_token()

## Testing the functions

### Fish data

In [61]:
# Start by listing the empty table
table_name = 'fish_data_full'
clean_table(table_name)

(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table=table_name, keyspace="compulsory")
 .load()
 .createOrReplaceTempView(table_name))

fish_data = spark.sql(f"select * from {table_name}").toPandas()
fish_data.head()

Empty DataFrame
Columns: [localityweekid, avgadultfemalelice, hascleanerfishdeployed, hasila, hasmechanicalremoval, haspd, hasreportedlice, hassalmonoids, hassubstancetreatments, infilteredselection, isfallow, isonland, isslaughterholdingcage, lat, localityno, lon, municipality, municipalityno, name, week, year]
Index: []

[0 rows x 21 columns]

In [62]:
# Next, we fetch data for 2015. We do it twice to see if it gets updated only once.
get_one_year_fish_data(year = 2015, access_token = access_token)
get_one_year_fish_data(year = 2015, access_token = access_token)

In [64]:
# Then we print the table again to see if it has been updated (only once)
(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table=table_name, keyspace="compulsory")
 .load()
 .createOrReplaceTempView(table_name))

fish_data = spark.sql(f"select * from {table_name}").toPandas()
fish_data

,localityweekid,avgadultfemalelice,hascleanerfishdeployed,hasila,hasmechanicalremoval,haspd,hasreportedlice,hassalmonoids,hassubstancetreatments,infilteredselection,...,isonland,isslaughterholdingcage,lat,localityno,lon,municipality,municipalityno,name,week,year
0,42462,0.06,False,False,False,True,True,True,False,True,...,False,False,64.092247,10398,10.115983,Åfjord,1630,Seiskjæra,33,2015
1,126624,NaN,False,False,False,False,False,True,False,True,...,False,False,64.949883,12730,11.573300,Nærøy,1751,Båfjorden,50,2015
2,178057,0.25,False,False,False,False,True,True,False,True,...,False,False,61.079498,12179,5.809900,Høyanger,1416,Oslandsurda,28,2015
3,76858,0.03,False,False,False,True,True,True,False,True,...,False,False,61.876534,12224,5.722767,Bremanger,1438,Isane,10,2015
4,75282,0.00,False,False,False,False,True,True,False,True,...,False,False,62.348949,23695,6.910767,Stranda,1525,Skotungneset,51,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88659,187742,NaN,False,False,False,False,False,True,False,True,...,False,False,64.750847,31357,11.189033,Nærøy,1751,Geitryggen,17,2015
88660,208755,NaN,False,False,False,False,False,True,False,True,...,False,False,66.348732,32037,12.779417,Lurøy,1834,Grasholman,16,2015
88661,289605,NaN,False,False,False,False,False,True,False,True,...,False,True,66.367302,10978,12.371417,Lurøy,1834,Naustholmen,50,2015
88662,817388,NaN,False,False,False,False,False,False,False,True,...,False,False,70.601913,17057,26.954140,Lebesby,2022,Store Brattholmen,20,2015
88663,902948,NaN,False,False,False,False,False,False,False,True,...,False,False,58.581833,14296,8.968350,Arendal,906,Korsen,1,2015

88k rows checks out!

### Lice data

In [67]:
# Start by listing the empty table
table_name = 'lice_data_full'
clean_table(table_name)

(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table=table_name, keyspace="compulsory")
 .load()
 .createOrReplaceTempView(table_name))

lice_data = spark.sql(f"select * from {table_name}").toPandas()
lice_data.head()

Empty DataFrame
Columns: [id, avgadultfemalelice, avgmobilelice, avgstationarylice, hasbathtreatment, hascleanerfishdeployed, hasinfeedtreatment, hasmechanicalremoval, hasreportedlice, hassalmonoids, isfallow, isslaughterholdingcage, localityno, seatemperature, week, year]
Index: []

In [68]:
# Next, we fetch data for 2015 and locality 24175. We do it twice to see if it gets updated only once.

get_one_year_lice_data(locality = 24175, year = 2017, access_token = access_token)
get_one_year_lice_data(locality = 24175, year = 2017, access_token = access_token)

In [69]:
# Then we print the table again to see if it has been updated (only once)
(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table=table_name, keyspace="compulsory")
 .load()
 .createOrReplaceTempView(table_name))

lice_data = spark.sql(f"select * from {table_name}").toPandas()
lice_data

,id,avgadultfemalelice,avgmobilelice,avgstationarylice,hasbathtreatment,hascleanerfishdeployed,hasinfeedtreatment,hasmechanicalremoval,hasreportedlice,hassalmonoids,isfallow,isslaughterholdingcage,localityno,seatemperature,week,year
0,279982,0.00,0.00,0.00,False,False,False,False,True,True,False,False,24175,5.21,2,2017
1,543213,0.46,1.18,0.47,False,False,False,False,True,True,False,False,24175,4.84,52,2017
2,497754,0.02,0.05,0.00,False,False,False,False,True,True,False,False,24175,9.50,28,2017
3,466073,0.01,0.09,0.00,False,False,False,False,True,True,False,False,24175,3.10,12,2017
4,506967,0.05,0.09,0.30,False,False,False,False,True,True,False,False,24175,11.53,33,2017
5,514468,0.10,0.14,0.18,False,False,False,False,True,True,False,False,24175,10.56,37,2017
6,474017,0.06,0.06,0.06,False,False,False,False,True,True,False,False,24175,3.50,16,2017
7,459867,0.02,0.08,0.02,False,False,False,False,True,True,False,False,24175,3.40,9,2017
8,485426,0.02,0.02,0.02,False,False,False,False,True,True,False,False,24175,5.60,22,2017
9,483708,0.03,0.08,0.00,False,False,False,False,True,True,False,False,24175,5.60,21,2017
10,526053,0.32,0.71,0.08,False,False,False,False,True,True,False,False,24175,8.76,43,2017
11,479718,0.01,0.13,0.00,False,False,False,False,True,True,False,False,24175,3.90,19,2017
12,487711,0.02,0.06,0.12,False,False,False,False,True,True,False,False,24175,7.50,23,2017
13,282640,0.01,0.06,0.03,False,False,False,False,True,True,False,False,24175,4.90,4,2017
14,535336,0.10,0.32,0.16,False,False,False,False,True,True,False,False,24175,7.50,48,2017
15,468329,0.01,0.01,0.01,False,False,False,False,True,True,False,False,24175,3.10,13,2017
16,464092,0.06,0.05,0.05,False,False,False,False,True,True,False,False,24175,4.30,11,2017
17,504656,0.00,0.03,0.03,False,False,False,False,True,True,False,False,24175,9.68,32,2017
18,512146,0.08,0.22,0.77,False,False,True,False,True,True,False,False,24175,10.59,36,2017
19,457089,0.00,0.05,0.05,False,False,False,False,True,True,False,False,24175,3.10,8,2017
20,529521,0.02,0.14,0.49,True,False,False,False,True,True,False,False,24175,7.86,45,2017
21,281310,0.01,0.00,0.00,False,False,False,False,True,True,False,False,24175,5.00,3,2017
22,501205,0.03,0.10,0.11,False,False,False,False,True,True,False,False,24175,10.80,30,2017
23,517926,0.11,0.16,0.10,False,False,False,False,True,True,False,False,24175,10.14,39,2017
24,491438,0.02,0.04,0.08,False,False,False,False,True,True,False,False,24175,9.00,25,2017
25,519655,0.01,0.01,0.27,False,False,False,False,True,True,False,False,24175,10.14,40,2017
26,502930,0.01,0.03,0.21,False,False,False,False,True,True,False,False,24175,11.30,31,2017
27,541475,0.25,1.55,0.34,False,False,False,False,True,True,False,False,24175,4.94,51,2017
28,527788,0.46,0.55,0.27,False,False,False,False,True,True,False,False,24175,8.13,44,2017
29,470589,0.02,0.07,0.19,False,False,False,False,True,True,False,False,24175,3.60,14,2017
30,455120,0.02,0.03,0.06,False,False,False,False,True,True,False,False,24175,4.30,7,2017
31,523717,0.28,0.22,0.19,True,False,False,False,True,True,False,False,24175,9.57,42,2017
32,278917,0.00,0.03,0.04,False,False,False,False,True,True,False,False,24175,5.10,1,2017
33,283973,0.00,0.02,0.00,False,False,False,False,True,True,False,False,24175,4.40,5,2017
34,539117,0.11,1.03,0.92,False,False,False,False,True,True,False,False,24175,4.97,50,2017
35,499481,0.01,0.03,0.01,False,False,False,False,True,True,False,False,24175,11.00,29,2017
36,510421,0.01,0.03,0.27,False,False,True,False,True,True,False,False,24175,8.92,35,2017
37,285041,0.04,0.01,0.05,False,False,False,False,True,True,False,False,24175,3.70,6,2017
38,508694,0.00,0.07,0.04,False,False,False,False,True,True,False,False,24175,9.10,34,2017
39,481993,0.01,0.07,0.03,False,False,False,False,True,True,False,False,24175,4.00,20,2017
40,495742,0.01,0.03,0.01,False,False,False,False,True,True,False,False,24175,10.60,27,2017
41,477446,0.01,0.07,0.05,False,False,False,False,True,True,False,False,24175,3.90,18,2017
42,461843,0.00,0.04,0.03,False,False,False,False,True,True,False,False,24175,4.30,10,2017
43,531254,0.07,0.23,0.15,False,False,False,False,True,True,False,False,24175,7.70,46,2017
44,516197,0.12,0.15,0.03,False,False,False,False,True,True,False,False,24175,10.14,38,2017
45,521986,0.28,0.22,0.19,False,False,False,False,True,True,False,False,24175,9.57,41,2017
46,489715,0.02,0.06,0.12,False,False,False,False,True,True,False,False,24175,7.80,24,2017
47,472303,0.02,0.05,0.01,False,False,False,False,True,True,False,False,24175,3.60,15,2017
48,537072,NaN,NaN,NaN,False,False,False,False,False,True,False,False,24175,5.20,49,2017
49,475732,0.01,0.06,0.02,False,False,False,False,True,True,False,False,24175,3.70,17,2017
50,532987,NaN,NaN,NaN,False,False,False,False,False,True,False,False,24175,NaN,47,2017
51,493444,0.00,0.05,0.00,False,False,False,False,True,True,False,False,24175,9.80,26,2017

Checks out!