# Utilities notebook

## Setting up functions

In [75]:
import os
from pyspark.sql import SparkSession
import requests
import pandas as pd
import numpy as np
from cassandra.cluster import Cluster
from exceptions import *


# Set pyspark env

os.environ["PYSPARK_PYTHON"] = "python"

spark = SparkSession.builder.appName('SparkCassandraApp').\
    config('spark.jars.packages', 'com.datastax.spark:spark-cassandra-connector_2.12:3.4.1').\
    config('spark.cassandra.connection.host', 'localhost').\
    config('spark.sql.extensions', 'com.datastax.spark.connector.CassandraSparkExtensions').\
    config('spark.sql.catalog.mycatalog', 'com.datastax.spark.connector.datasource.CassandraCatalog').\
    config('spark.cassandra.connection.port', '9042').getOrCreate()


cluster = Cluster(['localhost'], port=9042)
session = cluster.connect()
session.set_keyspace('compulsory')

In [2]:
# Set up request
def get_access_token():
    """Function to get access token from Barentswatch API

    Returns:
        str: Access token
    """
    url = "https://id.barentswatch.no/connect/token"
    # Read secret key from file
    secret_key = open(r'..\..\..\IND320\No_sync\fish_api', 'r').read()

    # Set up request to get access token
    headers = {
        "Content-Type": "application/x-www-form-urlencoded"
    }
    data = {
        "client_id": "erlend.risvik@gmail.com:fishclient",
        "scope": "api",
        "client_secret": secret_key,
        "grant_type": "client_credentials"
    }

    response = requests.post(url, headers=headers, data=data)
    return response.json()['access_token']

def convert_to_spark(df):
    """Function to convert pandas dataframe to spark dataframe

    Parameters:
    -----------
    df : pandas dataframe
        Dataframe to convert

    Returns:
    --------
    spark dataframe
    """
    return spark.createDataFrame(df)

def write_to_cassandra(df, table_name):
    """Function to write data to cassandra database

    Parameters:
    -----------
    df : pandas dataframe
        Dataframe to write
    table_name : str
        Name of table to write to
    """
    
    df_spark = convert_to_spark(df)
    (df_spark.write
     .format("org.apache.spark.sql.cassandra")
     .options(table=table_name, keyspace="compulsory")
     .mode("append")
     .save())

def check_exist_fish(year):
    """Function to check if data exists in database.'
    Parameters:
    -----------
    year : int
        Year of data

    Returns:
    --------
    bool: True if data exists, False if not
    """

    (spark.read.format("org.apache.spark.sql.cassandra")
    .options(table = 'fish_data_full', keyspace="compulsory")
    .load()
    .createOrReplaceTempView('fish_data_full'))
    
    check = spark.sql(f"SELECT count(*) FROM fish_data_full WHERE year = {year}")   
    return check.collect()[0][0] >= 1 

def check_exist_lice(locality, year):
    """Function to check if data exists in database.'
    Parameters:
    -----------
    locality : int
        Locality number
    year : int
        Year of data

    Returns:
    --------
    bool: True if data exists, False if not
    """

    (spark.read.format("org.apache.spark.sql.cassandra")
    .options(table = 'lice_data_full', keyspace="compulsory")
    .load()
    .createOrReplaceTempView('lice_data_full'))
    
    check = spark.sql(f"SELECT count(*) FROM lice_data_full WHERE year = {year} AND localityno = {locality}")   
    return check.collect()[0][0] >= 1 

def get_one_week_fish_data(year, week, access_token):
    """Function to get fish data from Barentswatch API.
    
    Parameters:
    -----------
    year : int
        Year of data
    week : int
        Week of data
    access_token : str
        Access token from Barentswatch API
    Returns:
    --------
    json: json object with data
    """

    # Set url to correct API address
    url = f"https://www.barentswatch.no/bwapi/v1/geodata/fishhealth/locality/{year}/{week}"

    headers = {
        "Authorization": "Bearer "+ access_token}

    df = requests.get(url, headers = headers).json()
    return df

def get_one_year_fish_data(year, access_token):
    """Function to get all fish data from Barentswatch API limited to one year.

    Parameters:
    -----------
    access_token : str
        Access token from Barentswatch API
    Returns:
    --------
    df: pandas dataframe with data
    """
    if check_exist_fish(year):
        return None

    # Set list of weeks (1-52).
    weeks = np.arange(1, 53)
    df = pd.DataFrame()
    for week in weeks:
        data = get_one_week_fish_data(year = year, week = week, access_token = access_token)["localities"]
        data = pd.DataFrame(data)
        data["year"] = year
        data["week"] = week
        df = pd.concat([df, data], ignore_index=True)

    df.columns = df.columns.str.lower()
    try:
        write_to_cassandra(df = df, table_name = "fish_data_full")
    except:
        return None

def get_one_week_lice_data(localty, year, week, access_token):
    """Function to get lice count data from Barentswatch API.

    Parameters:
    -----------
    localty : int
        Localty number
    year : int
        Year of data
    week : int
        Week of data
    access_token : str
        Access token from Barentswatch API

    Returns:
    --------
    json: json object with data 
    """

    # Set url to correct API address
    url = f'https://www.barentswatch.no/bwapi/v1/geodata/fishhealth/locality/{localty}/{year}/{week}'
    headers = {
        "Authorization": "Bearer "+ access_token}
    
    df = requests.get(url, headers=headers).json()
    return df

def get_one_year_lice_data(locality, year, access_token):
    """
    Function to get all lice count data from Barentswatch API limited to one year.

    Parameters:
    -----------
    localty : int
        Localty number
    year : int
        Year of data
    access_token : str
        Access token from Barentswatch API
    Returns:
    --------
    df: pandas dataframe with data
    """

    if check_exist_lice(locality, year):
        return None

    # Set list of weeks (1-52).
    weeks = np.arange(1, 53)
    df = pd.DataFrame()
    for week in weeks:
        data = get_one_week_lice_data(localty = locality, year = year, week = week, access_token = access_token)["localityWeek"]
        for key, value in data.items():
            # Set to list to make it compatible to convert to pandas dataframe
            data[key] = [value]
        # Dropping columns that contain purely None and nested dictionaries
        data = pd.DataFrame(data).drop(columns = ["bathTreatments", "cleanerFish", "inFeedTreatments", \
                                                  "mechanicalRemoval", "timeSinceLastChitinSynthesisInhibitorTreatment"]) 
        data["year"] = year
        data["week"] = week
        df = pd.concat([df, data], ignore_index=True)
    # Lowercase column names
    df.columns = df.columns.str.lower()
    try:
        write_to_cassandra(df = df, table_name = "lice_data_full")
    except:
        return None

def clean_table(table_name):
    """Function to clean table in cassandra database

    Parameters:
    -----------
    table_name : str
        Name of table to clean
    """
    session.execute(f"TRUNCATE {table_name}")


def get_df(table_name):

    (spark.read.format("org.apache.spark.sql.cassandra")
    .options(table=table_name, keyspace="compulsory")
    .load()
    .createOrReplaceTempView(table_name))

    df = spark.sql(f"select * from {table_name}").toPandas()
    df = df.sort_values(by=['week'])
    # quick fix to fix datatype.
    if table_name == 'fish_data_full':
        df['lat'] = df['lat'].astype(np.float64)
        df['lon'] = df['lon'].astype(np.float64)

    return df

access_token = get_access_token()

In [ ]:
clean_table('lice_data_full')

## Testing the functions

### Fish data

In [71]:
# Start by listing the empty table
table_name = 'fish_data_full'
clean_table(table_name)

(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table=table_name, keyspace="compulsory")
 .load()
 .createOrReplaceTempView(table_name))

fish_data = spark.sql(f"select * from {table_name}").toPandas()
fish_data.head()

Empty DataFrame
Columns: [localityweekid, avgadultfemalelice, hascleanerfishdeployed, hasila, hasmechanicalremoval, haspd, hasreportedlice, hassalmonoids, hassubstancetreatments, infilteredselection, isfallow, isonland, isslaughterholdingcage, lat, localityno, lon, municipality, municipalityno, name, week, year]
Index: []

[0 rows x 21 columns]

In [72]:
# Next, we fetch data for 2015. We do it twice to see if it gets updated only once.
get_one_year_fish_data(year = 2015, access_token = access_token)
get_one_year_fish_data(year = 2015, access_token = access_token)

In [73]:
# Then we print the table again to see if it has been updated (only once)
(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table=table_name, keyspace="compulsory")
 .load()
 .createOrReplaceTempView(table_name))

fish_data = spark.sql(f"select * from {table_name}").toPandas()
fish_data

,localityweekid,avgadultfemalelice,hascleanerfishdeployed,hasila,hasmechanicalremoval,haspd,hasreportedlice,hassalmonoids,hassubstancetreatments,infilteredselection,...,isonland,isslaughterholdingcage,lat,localityno,lon,municipality,municipalityno,name,week,year
0,764221,NaN,False,False,False,False,False,False,False,True,...,False,False,60.471451,18496,6.764933,Ullensvang,1231,Kaland,10,2015
1,88187,0.32,False,False,False,True,True,True,False,True,...,False,False,60.407501,10338,6.356717,Kvam,1238,Djupevik,20,2015
2,339587,NaN,False,False,False,False,False,True,False,True,...,False,False,61.212399,12158,7.093267,Sogndal,1420,Skjersnes,24,2015
3,43161,0.00,False,False,False,False,True,True,False,True,...,False,False,59.832218,28096,5.984267,Kvinnherad,1224,Slåttenes,39,2015
4,872461,NaN,False,False,False,False,False,False,False,True,...,False,False,63.954182,10248,10.085183,Åfjord,1630,Eidskjæra Nø,51,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88659,5943,NaN,False,False,False,False,False,True,True,True,...,False,False,61.297916,32317,4.660450,Askvoll,1428,Guriøyna,4,2015
88660,31804,NaN,False,False,False,True,False,True,False,True,...,False,False,63.822449,33557,8.740750,Frøya,1620,Langskjæra II,1,2015
88661,799676,NaN,False,False,False,False,False,False,False,True,...,False,False,62.928532,28776,7.580517,Eide,1551,Krekvikbogen,27,2015
88662,300508,NaN,False,False,False,False,False,True,False,True,...,False,False,63.462101,31257,7.856233,Smøla,1573,Hjortholman 2,47,2015
88663,127495,NaN,False,False,False,False,False,True,False,True,...,False,False,66.587631,22796,13.096633,Rødøy,1836,Renga S,1,2015

88k rows checks out!

### Lice data

In [74]:
# Start by listing the empty table
table_name = 'lice_data_full'
clean_table(table_name)

(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table=table_name, keyspace="compulsory")
 .load()
 .createOrReplaceTempView(table_name))

lice_data = spark.sql(f"select * from {table_name}").toPandas()
lice_data.head()

Empty DataFrame
Columns: [id, avgadultfemalelice, avgmobilelice, avgstationarylice, hasbathtreatment, hascleanerfishdeployed, hasinfeedtreatment, hasmechanicalremoval, hasreportedlice, hassalmonoids, isfallow, isslaughterholdingcage, localityno, seatemperature, week, year]
Index: []

In [75]:
# Next, we fetch data for 2015 and locality 24175. We do it twice to see if it gets updated only once.

get_one_year_lice_data(locality = 24175, year = 2017, access_token = access_token)
get_one_year_lice_data(locality = 24175, year = 2017, access_token = access_token)

In [76]:
# Then we print the table again to see if it has been updated (only once)
(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table=table_name, keyspace="compulsory")
 .load()
 .createOrReplaceTempView(table_name))

lice_data = spark.sql(f"select * from {table_name}").toPandas()
lice_data

,id,avgadultfemalelice,avgmobilelice,avgstationarylice,hasbathtreatment,hascleanerfishdeployed,hasinfeedtreatment,hasmechanicalremoval,hasreportedlice,hassalmonoids,isfallow,isslaughterholdingcage,localityno,seatemperature,week,year
0,495742,0.01,0.03,0.01,False,False,False,False,True,True,False,False,24175,10.60,27,2017
1,477446,0.01,0.07,0.05,False,False,False,False,True,True,False,False,24175,3.90,18,2017
2,461843,0.00,0.04,0.03,False,False,False,False,True,True,False,False,24175,4.30,10,2017
3,472303,0.02,0.05,0.01,False,False,False,False,True,True,False,False,24175,3.60,15,2017
4,537072,NaN,NaN,NaN,False,False,False,False,False,True,False,False,24175,5.20,49,2017
5,527788,0.46,0.55,0.27,False,False,False,False,True,True,False,False,24175,8.13,44,2017
6,470589,0.02,0.07,0.19,False,False,False,False,True,True,False,False,24175,3.60,14,2017
7,455120,0.02,0.03,0.06,False,False,False,False,True,True,False,False,24175,4.30,7,2017
8,523717,0.28,0.22,0.19,True,False,False,False,True,True,False,False,24175,9.57,42,2017
9,278917,0.00,0.03,0.04,False,False,False,False,True,True,False,False,24175,5.10,1,2017
10,497754,0.02,0.05,0.00,False,False,False,False,True,True,False,False,24175,9.50,28,2017
11,516197,0.12,0.15,0.03,False,False,False,False,True,True,False,False,24175,10.14,38,2017
12,487711,0.02,0.06,0.12,False,False,False,False,True,True,False,False,24175,7.50,23,2017
13,541475,0.25,1.55,0.34,False,False,False,False,True,True,False,False,24175,4.94,51,2017
14,282640,0.01,0.06,0.03,False,False,False,False,True,True,False,False,24175,4.90,4,2017
15,535336,0.10,0.32,0.16,False,False,False,False,True,True,False,False,24175,7.50,48,2017
16,514468,0.10,0.14,0.18,False,False,False,False,True,True,False,False,24175,10.56,37,2017
17,531254,0.07,0.23,0.15,False,False,False,False,True,True,False,False,24175,7.70,46,2017
18,283973,0.00,0.02,0.00,False,False,False,False,True,True,False,False,24175,4.40,5,2017
19,543213,0.46,1.18,0.47,False,False,False,False,True,True,False,False,24175,4.84,52,2017
20,279982,0.00,0.00,0.00,False,False,False,False,True,True,False,False,24175,5.21,2,2017
21,468329,0.01,0.01,0.01,False,False,False,False,True,True,False,False,24175,3.10,13,2017
22,464092,0.06,0.05,0.05,False,False,False,False,True,True,False,False,24175,4.30,11,2017
23,466073,0.01,0.09,0.00,False,False,False,False,True,True,False,False,24175,3.10,12,2017
24,506967,0.05,0.09,0.30,False,False,False,False,True,True,False,False,24175,11.53,33,2017
25,521986,0.28,0.22,0.19,False,False,False,False,True,True,False,False,24175,9.57,41,2017
26,489715,0.02,0.06,0.12,False,False,False,False,True,True,False,False,24175,7.80,24,2017
27,475732,0.01,0.06,0.02,False,False,False,False,True,True,False,False,24175,3.70,17,2017
28,532987,NaN,NaN,NaN,False,False,False,False,False,True,False,False,24175,NaN,47,2017
29,493444,0.00,0.05,0.00,False,False,False,False,True,True,False,False,24175,9.80,26,2017
30,508694,0.00,0.07,0.04,False,False,False,False,True,True,False,False,24175,9.10,34,2017
31,481993,0.01,0.07,0.03,False,False,False,False,True,True,False,False,24175,4.00,20,2017
32,517926,0.11,0.16,0.10,False,False,False,False,True,True,False,False,24175,10.14,39,2017
33,491438,0.02,0.04,0.08,False,False,False,False,True,True,False,False,24175,9.00,25,2017
34,474017,0.06,0.06,0.06,False,False,False,False,True,True,False,False,24175,3.50,16,2017
35,459867,0.02,0.08,0.02,False,False,False,False,True,True,False,False,24175,3.40,9,2017
36,485426,0.02,0.02,0.02,False,False,False,False,True,True,False,False,24175,5.60,22,2017
37,483708,0.03,0.08,0.00,False,False,False,False,True,True,False,False,24175,5.60,21,2017
38,510421,0.01,0.03,0.27,False,False,True,False,True,True,False,False,24175,8.92,35,2017
39,285041,0.04,0.01,0.05,False,False,False,False,True,True,False,False,24175,3.70,6,2017
40,519655,0.01,0.01,0.27,False,False,False,False,True,True,False,False,24175,10.14,40,2017
41,502930,0.01,0.03,0.21,False,False,False,False,True,True,False,False,24175,11.30,31,2017
42,539117,0.11,1.03,0.92,False,False,False,False,True,True,False,False,24175,4.97,50,2017
43,499481,0.01,0.03,0.01,False,False,False,False,True,True,False,False,24175,11.00,29,2017
44,504656,0.00,0.03,0.03,False,False,False,False,True,True,False,False,24175,9.68,32,2017
45,512146,0.08,0.22,0.77,False,False,True,False,True,True,False,False,24175,10.59,36,2017
46,457089,0.00,0.05,0.05,False,False,False,False,True,True,False,False,24175,3.10,8,2017
47,529521,0.02,0.14,0.49,True,False,False,False,True,True,False,False,24175,7.86,45,2017
48,281310,0.01,0.00,0.00,False,False,False,False,True,True,False,False,24175,5.00,3,2017
49,501205,0.03,0.10,0.11,False,False,False,False,True,True,False,False,24175,10.80,30,2017
50,526053,0.32,0.71,0.08,False,False,False,False,True,True,False,False,24175,8.76,43,2017
51,479718,0.01,0.13,0.00,False,False,False,False,True,True,False,False,24175,3.90,19,2017

Checks out!

## Weather data

In [3]:
import ast

SECRET_INFO = open("../../NO_SYNC/weather_api", 'r').read().replace('\n', '')
SECRET_ID = ast.literal_eval(SECRET_INFO)["client_id"]

In [4]:
os.environ["PYSPARK_PYTHON"] = "python"

spark = SparkSession.builder.appName('SparkCassandraApp').\
    config('spark.jars.packages', 'com.datastax.spark:spark-cassandra-connector_2.12:3.4.1').\
    config('spark.cassandra.connection.host', 'localhost').\
    config('spark.sql.extensions', 'com.datastax.spark.connector.CassandraSparkExtensions').\
    config('spark.sql.catalog.mycatalog', 'com.datastax.spark.connector.datasource.CassandraCatalog').\
    config('spark.cassandra.connection.port', '9042').getOrCreate()

(spark.read.format("org.apache.spark.sql.cassandra")
 .options(table="fish_data_full", keyspace="compulsory")
 .load()
 .createOrReplaceTempView("fish_data_full"))

In [5]:
lice_data = get_df('lice_data_full')
fish_data = get_df('fish_data_full')

In [6]:
lice_data["localityno"].value_counts()

15462    52
23695    52
15375    52
30817    52
Name: localityno, dtype: int64

In [77]:
def get_cords(df, localityno):
    """Function to get coordinates from dataframe

    Parameters:
    -----------
    df : pandas dataframe
        Dataframe to get coordinates from
    localityno : int
        Locality number to get coordinates from

    Returns:
    --------
    list: list of tuples with coordinates
    """
    # there are multiple rows with the same localityno, so we need to get the first one
    subset = df[df["localityno"] == localityno].iloc[0:1]

    return float(subset["lat"]), float(subset["lon"])

def get_nearest_stations(lat, lon):
    """Function to get nearest weather station from frost.met.no

    Parameters:
    -----------
    lat : float
        Latitude
    lon : float
        Longitude

    Returns:
    --------
    json: json object with data
    """
    # Set up parameters

    endpoint = 'https://frost.met.no/sources/v0.jsonld'
    parameters = {
    "geometry" : f"nearest(POINT({lon} {lat}))",
    "nearestmaxcount": 20,
    }

    # Issue an HTTP GET request
    r = requests.get(endpoint, parameters, auth=(SECRET_ID,''))
    # Extract JSON data
    json = r.json()

    # Check if the request worked, print out any errors
    if r.status_code == 200:
        data = json['data']
        # extract the list of source ids and distance as a tuple
        data = [(d['id'], d['distance']) for d in data]
        return data
    else:
        raise FetchDataError(f"Request failed with status code {r.status_code}")
    
def get_daily_data(df, localityno, year):
    """Function to get daily weather data from frost.met.no

    Parameters:
    -----------
    df : pandas dataframe
        Dataframe to get coordinates from
    localityno : int
        Locality number
    year : int
        Year of data

    Returns:
    --------
    df3: pandas dataframe with data
    """ 
    
    lat, lon = get_cords(df = df, localityno = localityno)
    stations = get_nearest_stations(lat, lon)
    ids = [d[0] for d in stations]
    distances = [d[1] for d in stations]
   
    endpoint = 'https://frost.met.no/observations/v0.jsonld'

    for idx, id in enumerate(ids):
        parameters = {
            'sources': id,
            'elements': 'sum(precipitation_amount P1D), mean(air_temperature P1D), mean(wind_speed P1D), mean(relative_humidity P1D)',
            'referencetime': f"{year}-01-01/{year}-12-31",
            'levels' : 'default',
            'timeoffsets': 'default'
        }

    # Issue an HTTP GET request
        r = requests.get(endpoint, parameters, auth=(SECRET_ID,''))
        # Extract JSON data
        json = r.json()

        df = pd.DataFrame()
        try: 
            data = json['data']
            for i in range(len(data)):
                row = pd.DataFrame(data[i]['observations'])
                row['referenceTime'] = data[i]['referenceTime']
                row['sourceId'] = data[i]['sourceId']
                df = pd.concat([df, row], ignore_index=True)

            df = df.reset_index(drop=True)

            columns = ['sourceId','referenceTime','elementId','value','unit','timeOffset']
            df2 = df[columns].copy()
            df2['referenceTime'] = pd.to_datetime(df2['referenceTime']).dt.strftime('%Y-%m-%d')
            
            df3 = df2.pivot(index='referenceTime', columns='elementId', values='value').reset_index()      
            df3.columns = ['date', 'temperature', 'humidity', 'wind_speed', 'precipitation']
        except:
            if idx == len(ids)-1 or distances[idx]>50:
                raise NoDataError("No data available")
            continue
        
        # add the distance as a column
        df3['distance'] = distances[idx]
        return df3
    
weather_data = get_daily_data(df = fish_data, localityno = 23695, year = 2015)
weather_data.head()

         date  temperature  humidity  wind_speed  precipitation   distance
0  2015-01-01          1.3      92.0        12.8            0.5  18.074864
1  2015-01-02         -2.4      98.0         3.4            7.9  18.074864
2  2015-01-03         -4.6      97.0         1.8           34.1  18.074864
3  2015-01-04         -5.4      97.0         2.1           52.5  18.074864
4  2015-01-05         -0.7      98.0         6.4            8.5  18.074864

In [72]:
def get_daily_data(df, localityno, year):
    """Function to get daily weather data from frost.met.no

    Parameters:
    -----------
    df : pandas dataframe
        Dataframe to get coordinates from
    localityno : int
        Locality number
    year : int
        Year of data

    Returns:
    --------
    df3: pandas dataframe with data
    """ 
    
    lat, lon = get_cords(df = df, localityno = localityno)
    stations = get_nearest_stations(lat, lon)
    ids = [d[0] for d in stations]
    distances = [d[1] for d in stations]
   
    endpoint = 'https://frost.met.no/observations/v0.jsonld'

    for idx, id in enumerate(ids):
        parameters = {
            'sources': id,
            'elements': 'sum(precipitation_amount P1D), mean(air_temperature P1D), mean(wind_speed P1D), mean(relative_humidity P1D)',
            'referencetime': f"{year}-01-01/{year}-12-31",
            'levels' : 'default',
            'timeoffsets': 'default'
        }

    # Issue an HTTP GET request
        r = requests.get(endpoint, parameters, auth=(SECRET_ID,''))
        # Extract JSON data
        json = r.json()

        df = pd.DataFrame()
        try: 
            data = json['data']
            for i in range(len(data)):
                row = pd.DataFrame(data[i]['observations'])
                row['referenceTime'] = data[i]['referenceTime']
                row['sourceId'] = data[i]['sourceId']
                df = pd.concat([df, row], ignore_index=True)

            df = df.reset_index(drop=True)

            columns = ['sourceId','referenceTime','elementId','value','unit','timeOffset']
            df2 = df[columns].copy()
            df2['referenceTime'] = pd.to_datetime(df2['referenceTime']).dt.strftime('%Y-%m-%d')
            
            df3 = df2.pivot(index='referenceTime', columns='elementId', values='value').reset_index()      
            df3.columns = ['date', 'temperature', 'humidity', 'wind_speed', 'precipitation']
        except:
            if idx == len(ids)-1 or distances[idx]>50:
                return None
            continue
        
        # add the distance as a column
        df3['distance'] = distances[idx]
        return df3

weather_data = get_daily_data(df = fish_data, localityno = 23695, year = 2015)
weather_data.head()

         date  temperature  humidity  wind_speed  precipitation   distance
0  2015-01-01          1.3      92.0        12.8            0.5  18.074864
1  2015-01-02         -2.4      98.0         3.4            7.9  18.074864
2  2015-01-03         -4.6      97.0         1.8           34.1  18.074864
3  2015-01-04         -5.4      97.0         2.1           52.5  18.074864
4  2015-01-05         -0.7      98.0         6.4            8.5  18.074864

In [74]:
def convert_to_weekly_data(weather_data):
    weather_data['date'] = pd.to_datetime(weather_data['date'])
    weather_data['week'] = weather_data['date'].dt.isocalendar().week

    # create the weekly_weather_data_mean DataFrame where we aggregate by weekly means
    weekly_weather_data_mean = pd.DataFrame()
    weekly_weather_data_mean['week'] = weather_data['week']
    weekly_weather_data_mean['humidity'] = weather_data['humidity']
    weekly_weather_data_mean['temperature'] = weather_data['temperature']
    weekly_weather_data_mean['wind_speed'] = weather_data['wind_speed']
    weekly_weather_data_mean = weekly_weather_data_mean.groupby('week').mean()

    # same for precipitation, but we use weekly sum
    weekly_weather_data_sum = pd.DataFrame()
    weekly_weather_data_sum['week'] = weather_data['week']
    weekly_weather_data_sum['precipitation'] = weather_data['precipitation']
    weekly_weather_data_sum = weekly_weather_data_sum.groupby('week').sum()

    # merging the two dataframes
    weekly_weather_data = pd.merge(weekly_weather_data_mean, weekly_weather_data_sum, left_index=True, right_index=True)
    return weekly_weather_data

weekly_weather_data = convert_to_weekly_data(weather_data)
weekly_weather_data

       humidity  temperature  wind_speed  precipitation
week
1     96.000000    -2.775000    5.025000           95.0
2     93.142857    -1.771429    7.042857           34.9
3     91.428571    -2.828571    8.614286           35.5
4     72.285714    -4.228571    6.700000            6.6
5     82.000000    -2.957143    5.942857            8.4
6     93.428571    -3.971429    4.657143           41.4
7     84.428571    -0.014286    8.614286            8.9
8     85.571429    -1.542857   11.385714           26.9
9     72.285714    -0.500000   12.257143            4.8
10    86.571429    -1.385714   10.342857           24.4
11    56.285714     1.228571    6.914286           25.1
12    73.000000     0.014286    5.857143            9.4
13    75.000000    -1.485714    7.014286            7.5
14    88.714286    -2.842857    3.828571           35.7
15    81.428571     1.285714    9.514286           15.8
16    91.857143    -0.771429    3.400000           50.3
17    81.142857     0.514286    5.200000           33.6
18    68.714286    -0.800000    2.728571           11.2
19    66.285714     3.314286    6.514286            1.4
20    78.714286     2.028571    4.471429           21.3
21    80.142857     2.142857    5.728571           23.3
22    84.285714     2.842857    3.700000           21.7
23    83.428571     3.357143    6.214286           18.6
24    90.428571     3.100000    6.928571           22.4
25    85.000000     5.800000    2.328571            9.0
26    86.000000     7.400000    2.028571            4.8
27    75.428571    13.057143    4.385714            9.1
28    85.857143     7.342857    2.628571           38.9
29    91.285714     6.842857    2.400000           56.8
30    84.857143     7.500000    3.714286            8.6
31    86.142857     7.200000    2.414286           11.2
32    71.857143    10.671429    5.100000           10.4
33    59.714286    12.457143    5.357143            8.2
34    41.857143    16.257143    4.071429            2.0
35    70.571429    11.357143    5.457143           10.2
36    81.428571     7.671429    2.400000           24.2
37    59.714286    11.785714    2.742857           10.0
38    80.857143     8.014286    2.785714           42.4
39    78.571429     6.557143    4.014286            8.7
40    80.285714     6.771429    9.685714            6.5
41    63.428571     6.657143    3.528571            0.9
42    70.142857     4.785714    4.314286            0.6
43    87.000000     3.542857    8.800000           30.8
44    69.857143     6.071429    7.557143            9.1
45    76.142857     6.242857    7.542857           11.2
46    89.142857     1.042857    8.871429           22.3
47    85.857143    -2.685714    3.271429           18.5
48    89.857143    -0.685714   10.642857           28.3
49    92.285714    -1.728571    7.828571           54.7
50    93.714286    -1.271429    8.114286           56.6
51    90.285714     1.400000    8.328571           27.3
52    91.285714    -2.128571    9.328571           52.0
53    47.333333     2.700000   10.533333            1.4